<style>
.logo {
  background: url("/path") no-repeat; 
  max-height: 50px;
  max-width: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>
